html{
    margin: 0;
    padding:0;
    width: 100%;
    height:100vh;
}

body {
    margin:0;
    
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 5em;
  overflow: hidden;
  background-color: #ffcccc;
}

ul.topnav li {
    float: left;
    
}

ul.topnav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
    background-color: rgb(255, 0, 128);
    
}

ul.topnav li.icon {
    display: none;
    
}



.middle{
    margin: 0;
    padding:0;
    margin-top: 15rem;
    background-color:#ff0080;
    color: #fff;
    width: 100%;
    height:100vh;
    text-align: center;
    
}

/*   media query     */
@media screen and (max-width:680px) {
                  ul.topnav li:not(:first-child) {
                          display: none;
      
  }
  
                  ul.topnav li.icon {
                            float: right;
                            display: inline-block;
  }
}

@media screen and (max-width:680px) {
                  ul.topnav.responsive {
                          position: relative;
                      
}
                  ul.topnav.responsive li.icon {
                        position: absolute;
                        right: 0;
                        top: 0;
  }
                  ul.topnav.responsive li {
                        float: none;
                        display: inline;
  }
  
                  ul.topnav.responsive li a {
                        display: block;
                        text-align: left;
  }
}